body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 3em;

    
}

#container{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    align-items: center;
}

.checkbox{
    margin-top: 3em;
    width: 10px;
}

p{
    color: gray;
}

label{
    color: gray;
    margin-top: 0.5em;
}

a{
    margin-top: 5em;
    text-decoration: none;
    color: #2b99d7;
}



.slider {
    width: 80%;
    margin-top: 3em;

    -webkit-appearance: none;
    height: 8px;
    background: #e6e6e6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.enabled:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: gray;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: gray;
    cursor: pointer;
}





@media only screen and (min-width: 600px){
    #container{
        margin-left: 30%;
        margin-right: 30%;
    }
}


@media (prefers-color-scheme: dark) {
    body{
        color: #e6e6e6;
        background-color: #121212;
    }

    .slider {
        background: #5c5c5c;
    }

    .slider::-webkit-slider-thumb {
        background: #303030;
    }

    .slider::-moz-range-thumb {
        background: #303030;
    }
}